<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Variable</h1>
    <h2>{{name | lower | capfirst}} {{surname | upper}}</h2>
    <ul>
        {% for item in list %}
            {% if item == 1 %}
                <li>ONE</li>
            {% else %}
                <li>{{item}}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% if user_logged_in %}
        <h2>You are logged in, {{name | lower | capfirst}}</h2>
    {% endif %}
    <h2><a href="{% url 'my_app_2:example' %}">To example</a></h2>
</body>
</html>